<div class="cards button_bar">
  <h1>Public cheatsheets by the community</h1>
  <p>
    <button id="createNewCheatsheet" class="button" title="Create new cheatsheet"><i class="bi bi-file-earmark-plus-fill"></i>
    </button>
  </p>
</div>
<div class="grid">
  {{ for cheatsheet in cheatsheets }}
  <article class="card">
    <div class="card-media">
      <a href="/cheatsheets/{{ cheatsheet.id }}">
        <img src="https://placehold.co/600x400" alt="{{ cheatsheet.title }}" />
      </a>
    </div>
    <div class="card-content">
      <h2>
        <a href="/cheatsheets/{{ cheatsheet.id }}">{{ cheatsheet.title }}</a>
      </h2>
      <p>{{ cheatsheet.description }}</p>
    </div>
  </article>
  {{ endfor }}
</div>