#cs_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#cs_editor {

    border: 1px solid var(--primary-card-bg-color);
}

#cs_preview {
    position: relative;
    width: 100%;
    height: 100%;
}

.spinner-overlay {
    position: absolute;
    inset: 0;
    background(rgba(20,20,20,0.6));
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.spinner-overlay.hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

#edit_cheatsheet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 80vh;
}
#edit_cheatsheet #editor_wrapper {
    height: 100%;
}

#cs_preview iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/* PDF */
#cheatsheet_pdf {
    height: 100%;
    font-size: 6pt;
    line-height: 1;
    column-count: 5;
}