#cs_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}

#cs_editor {
    padding: 8px;
    border: 1px solid var(--primary-card-bg-color);
}

#cs_preview {
    padding: 8px;
    border: 1px solid var(--primary-card-bg-color);
}