<div class="block">
  <div class="block_content">
    <h1>Need help?</h1>
    <div class="cards">
      <h2>Basic Markdown Syntax</h2>
      <table>
        <tr>
          <th>Markdown</th>
          <th>Description</th>
          <th>Example</th>
        </tr>
        <tr>
          <td># - ######</td>
          <td>Headings 1 - 6</td>
          <td><pre># Heading 1</pre></td>
        </tr>
        <tr>
          <td>*</td>
          <td>List-Item</td>
          <td><pre>* List-Item</pre></td>
        </tr>
        <tr>
          <td>``` code ```</td>
          <td>Sourcecode</td>
          <td>
<pre>```json
  {
    "id": "ac46a36a-a993-4053-9043-2a97bee089dc",
    "user_id": "700a71fb-9f0e-4bf4-9f86-41c66ada062e",
    "title": "Testing current timestamp 2.",
    "description": "Test cheatsheet for API testing"
  }
```</pre>
          </td>
        </tr>
      </table>
    </div>
    <div class="cards">
      <p>If you need help for Markdown or LaTeX, just have a look at the following links:</p>
      <ul>
        <li><a href="https://www.markdownguide.org/basic-syntax/" title="Markdown Guide" target="_blank">markdownguide.org</a></li>
        <li><a href="https://de.overleaf.com/learn/latex/Matrices" title="LaTeX Matrices" target="_blank">LaTeX Matrices</a></li>
        <li><a href="https://oeis.org/wiki/List_of_LaTeX_mathematical_symbols" title="LaTeX Mathematical Symbols" target="_blank">LaTeX Mathematical Symbols</a></li>
      </ul>

    </div>
  </div>
</div>
